@import './theme.css';

body {
	padding-top: var(--top-inset);
	padding-bottom: calc(var(--bottom-inset) + 32px);
	margin: 0;
	display: flex;
	width: 100%;
	flex-direction: column;
	background-color: var(--md-sys-color-surface);
	color: var(--md-sys-color-on-surface);
	font-family:
		Roboto,
		system-ui,
		-apple-system,
		'Segoe UI',
		Arial,
		sans-serif;
}
.body-content {
	width: 100%;
	box-sizing: border-box;
}
.body-content > * {
	max-width: 768px;
	margin: 0 auto;
}
.list-item {
	background-color: var(--md-sys-color-surface-container-lowest);
	position: relative;
	border-radius: 4px;
	box-sizing: border-box;
}
md-switch {
	pointer-events: all;
}
.settings-group {
	margin-bottom: 10px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	gap: 2px;
	overflow: hidden;
}
.toggle-option {
	font-size: 1.2em;
	min-height: 32px;
	padding: 8px 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	user-select: none;
	gap: 8px;
	pointer-events: none;
}
.toggle-option-content {
	font-size: 1.2em;
	min-height: 32px;
	padding: 0px 16px;
	padding-bottom: 8px;
	display: block;
	align-items: center;
	justify-content: space-between;
	user-select: none;
	gap: 8px;
}
.toggle-info {
	font-size: 0.8em;
	padding-bottom: 4px;
	color: var(--md-sys-color-outline);
}
.settings-group-title {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	padding: 8px 16px;
	font-size: 1.5em;
	font-weight: 600;
	color: var(--md-sys-color-primary);
	box-sizing: border-box;
	user-select: none;
}
.header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 64px;
	padding: 0 16px;
	box-sizing: border-box;
	user-select: none;
}
.title {
	font-size: 1.8em;
	line-height: 1;
	display: flex;
	align-items: flex-end;
}
.item-version {
	font-size: 0.55em;
	font-weight: 500;
	padding: 2px 5px;
	background-color: var(--md-sys-color-surface-variant);
	color: var(--md-sys-color-on-surface-variant);
	border-radius: 4px;
	margin: 2px 4px;
	box-sizing: border-box;
}
.enabled-config {
	font-family: monospace;
	padding: 16px;
	font-size: 1.4em;
	background-color: var(--md-sys-color-surface-container-lowest);
	box-sizing: border-box;
}
.preload-hidden {
	display: none;
}
/* Custom uname spoofing */
.custom-uname-content {
	display: flex;
	flex-direction: column;
	gap: 14px;
	padding: 16px;
	box-sizing: border-box;
}
.custom-uname-buttons {
	display: flex;
	gap: 8px;
}
.custom-uname-buttons > * {
	flex: 1;
}
md-tabs {
	--md-sys-color-surface: var(--md-sys-color-surface-container-lowest);
}
.snap-container {
	display: flex;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	scrollbar-width: none;
}
.snap-item {
	scroll-snap-align: start;
	min-width: 100%;
	flex: 0 0 100%;
	box-sizing: border-box;
}
.textarea-container {
	padding: 0;
	padding-bottom: 16px;
}
.textarea-container .content {
	width: 100%;
	padding: 0 16px;
	box-sizing: border-box;
}
